################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RegisterMain/v16/.suo
/.vs/slnx.sqlite
